{% extends "base.html.twig" %}
{% form_theme formView _self %}

{% block title %}
	Création d'une categorie
{% endblock %}

{% block body %}
	<h1>Créer une catégorie</h1>

	{{ form_start(formView) }}
	{{ form_widget(formView) }}

	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save">
			Enregistrer
		</i>
	</button>
	{{ form_end(formView) }}
{% endblock %}
